@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-modal-margin: 1.75rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sofia Sans', sans-serif;
  line-height: 1.1;
  background: #f8f8f8;
}

.loader {
  color: #a37ee3;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: translateZ(0) rotate(0deg);
  }

  100% {
    transform: translateZ(0) rotate(360deg);
  }
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

/* read more after 3 lines  */
.truncate-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  /* Restrict text to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.truncate-lines::after {
  content: '';
  /* Remove dots */
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  /* Match background */
}

.truncate-lines .read-more {
  display: inline;
  background: white;
  /* Optional: Helps prevent overlap */
}

/* read more after 3 lines  */

.homepageimgslider .swiper-wrapper {
  display: flex !important;
  align-items: center !important;
}

.btn-ring-animation {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ring 1.2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

main {
  margin-top: 90px;
}

@media (max-width: 1024px) {
  main {
    margin-top: 70px;
  }
}

@media (max-width: 500px) {
  main {
    margin-top: 65px;
  }
}

li {
  list-style: none;
}

.ease_in_out {
  transition: all ease-in-out 0.3s;
}

.box-shadows {
  box-shadow: 0 0 0 1px #000, 0 2px 5px 0 rgba(0, 0, 0, 0.6);
}

.box-shadow-1 {
  box-shadow: 0 4px 16px rgba(13, 151, 20, 0.4);
}

.box-shadow-2 {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.09);
}

header.active {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.1);
}

.mega_menu {
  top: 74px;
  transform: translateY(50px);
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.55s;
}

.navlist_link:hover .mega_menu {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.navlist li a svg {
  width: 14px;
  height: 14px;
  fill: #000;
  margin-left: 16px;
}

.profile_star svg {
  width: 12px;
  height: 12px;
  fill: #d49621;
}

.image-grayscale {
  filter: grayscale(1) opacity(0.4);
}

.tab_button button {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.6px;
  color: #ffcbb5;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  text-align: left;
  transition: all ease-in-out 0.3s;
}

.tab_buttons button {
  color: #356e26;
}

.tab_button button.active img {
  display: block;
}

.tab_button button.active {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.expertiseslider .slick-prev::before,
.expertiseslider .slick-next::before,
.bannerslider .slick-prev::before,
.bannerslider .slick-next::before {
  content: unset;
}

.expertiseslider .slick-arrow.slick-prev,
.expertiseslider .slick-arrow.slick-next {
  width: 50px;
  height: 50px;
  background-color: #000000b3 !important;
  border-radius: 50px;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  transform: unset;
  top: 60px;
  z-index: 99;
}

.bannerslider .slick-arrow.slick-prev,
.bannerslider .slick-arrow.slick-next {
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  transform: unset;
  top: 60px;
  z-index: 99;
}

.expertiseslider .slick-arrow.slick-prev,
.bannerslider .slick-arrow.slick-prev {
  background-image: url('../../public/cta-large.svg');
  left: calc(50% - 175px);
  transform: scale(-1);
}

.expertiseslider .slick-arrow.slick-next,
.bannerslider .slick-arrow.slick-next {
  background-image: url('../../public/cta-large.svg');
  right: calc(50% - 175px);
}

.tru-sdle .slick-track {
  display: flex;
  align-items: center;
}

.tru-sdle .slick-prev:before,
.tru-sdle .slick-next:before {
  color: #43a02d;
}

.active-rotate > span {
  transform: rotate(180deg);
}

@media (max-width: 1280px) {
  .tab_button button.active {
    font-size: 24px;
  }

  .xld-bx {
    background-image: unset !important;
  }
}

@media (max-width: 1023px) {
  header {
    background-color: #ffffff !important;
  }

  .navber {
    height: calc(100vh - 55px);
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 54px;
    transition: all ease-in-out 0.5s;
    width: 100%;
    z-index: 999;
    display: none;
  }

  .navber.active {
    display: block;
  }

  .navber .close_button {
    display: block;
    right: 0px;
    position: absolute;
    top: 14px;
    z-index: 9999;
  }

  .navber .navlist {
    width: 100%;
    flex-direction: column;
    height: 100%;
    background: #fff;
    overflow-y: auto;
    align-items: flex-start;
    padding: 30px 0;
  }

  .navber .navlist li {
    padding: 10px 30px;
  }

  .navber .navlist li a {
    font-weight: 750;
    font-size: 16px;
  }

  #hamburger .line {
    width: 26px;
    height: 2px;
    background-color: #333;
    display: block;
    margin: 7px 0;
    transition: all 0.3s ease-in-out;
  }

  #hamburger .line:last-child {
    margin: 7px 0 0;
  }

  #hamburger .line:first-child {
    margin-top: 0;
  }

  #hamburger:hover {
    cursor: pointer;
  }

  #hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(1px) rotate(42deg);
    -ms-transform: translateY(1px) rotate(42deg);
    -o-transform: translateY(1px) rotate(42deg);
    transform: translateY(1px) rotate(42deg);
    position: relative;
    top: 5px;
  }

  #hamburger.active .line:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -o-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
    position: relative;
  }

  .mega_menu {
    position: relative;
    top: 0px;
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
    padding: 0;
  }

  .mega_menu li {
    padding: 0 !important;
  }

  .mega_menu li a {
    margin: 18px 0 !important;
    font-weight: 600 !important;
    font-size: 14px !important;
  }

  .mega_menu li:last-child a {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 767px) {
  .expertiseslider .slick-arrow.slick-prev,
  .bannerslider .slick-arrow.slick-prev {
    left: calc(50% - 140px);
  }

  .expertiseslider .slick-arrow.slick-next,
  .bannerslider .slick-arrow.slick-next {
    right: calc(50% - 140px);
  }

  .navber {
    height: calc(100vh - 52px);
    top: 52px;
  }
}

@media (max-width: 500px) {
  .navber {
    height: calc(100vh - 54px);
    top: 54px;
  }
}

/*********************** pasco agenchy start **********************/
.modal-centered {
  min-height: calc(100% - var(--bs-modal-margin) * 2);
  margin: var(--bs-modal-margin) auto;
}

.logos_background {
  background: linear-gradient(to bottom, #e9e9e9, #e9e9e9, #fff);
}

.play_btn:before {
  content: '';
  border-style: solid;
  border-width: 15px 0 15px 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  margin-left: 3px;
  border-color: transparent transparent transparent #000;
  transition: all ease-in-out 0.3s;
}

.play_btn:hover {
  background: #000;
}

.play_btn:hover::before {
  border-color: transparent transparent transparent #fff;
}

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.blog_image::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 60%;
}

.blog_image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.image_before::before {
  position: absolute;
  content: '';
  width: 87px;
  height: 53px;
  right: calc(100% + 15px);
  top: calc(50% - 26.5px);
  background-image: url('../../public/wave.png');
  z-index: 1;
}

.image_before::after {
  position: absolute;
  content: '';
  width: 87px;
  height: 53px;
  left: calc(100% + 15px);
  top: calc(50% - 26.5px);
  background-image: url('../../public/wave.png');
  z-index: 1;
}

.play_div::before {
  position: absolute;
  content: '';
  width: 257px;
  height: 130px;
  top: 100px;
  left: calc(50% + -129px);
  background-image: url('../../public/player.png');
  background-repeat: no-repeat;
}

.we_icon {
  display: block;
  width: 48px;
  height: 66px;
  background: url('../../public/logo-separator.png');
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}

.PhoneInputInput:focus-visible {
  outline: none;
}

@media (max-width: 991px) {
  .play_div::before {
    content: unset;
  }
}

/*********************** work start  ***********************/

.vertical-slider-wrapper .slick-slider,
.vertical-slider-wrapper .slick-list,
.vertical-slider-wrapper .slick-track,
.vertical-slider-wrapper .slick-slide,
.vertical-slider-wrapper .item,
.vertical-slider-wrapper .slick-slide > div,
.vertical-slider-wrapper .slick-slide .item_img {
  height: 100% !important;
  position: relative;
}

.sliderafter {
  width: 34px;
  height: 2px;
  top: -4px;
  left: 0;
  border-bottom: 1px solid #fff;
  display: inline-block;
  margin: 0 15px;
}

.vertical-slider-wrapper .slick-slide .item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider_border::before {
  content: '';
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #fff;
  position: absolute;
  z-index: 99;
}

.item_text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow-y: hidden;
}

.vertical-slider-wrapper .slick-slide.slick-active.slick-current .item_text h1 {
  animation: trans 3.5s ease-in-out;
}

@keyframes trans {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(275px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.menu_btn_div button p {
  transition: all ease-in-out 0.44s;
}

.menu_btn_div button .firsep {
  transform: translateY(8px);
}

.menu_btn_div button.active .firsep {
  transform: translateY(-18px);
}

.menu_btn_div button .secp {
  transform: translateY(22px);
}

.menu_btn_div button.active .secp {
  transform: translateY(-8px);
}

.menu_btn_div .dots {
  position: relative;
  transition: all ease-in-out 0.44s;
}

.menu_btn_div .cross {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: all ease-in-out 0.44s;
}

.menu_btn_div button.active .dots {
  opacity: 0;
}

.menu_btn_div button.active .cross {
  opacity: 1;
}

.menu_btn_div a {
  transition: all ease-in-out 0.44s;
}

.link_tranisation a {
  transition: all ease-in-out 0.44s;
}

.link_tranisation a span {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.link_tranisation a span::after {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.link_tranisation a span::before {
  content: attr(data-hover);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.link_tranisation a:hover span:before {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all 0.2s cubic-bezier(0.21, -0.105, 0.43, 1.4);
}

.link_tranisation a:hover span:after {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: all 0.2s cubic-bezier(0.21, -0.105, 0.43, 1.4);
}

.link_tranisation a span:hover {
  color: #000;
}

.ball {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  backdrop-filter: invert(1) grayscale(1);
  -webkit-backdrop-filter: invert(1) grayscale(1);
  z-index: 99999;
}

/*********************** work end  ***********************/

.image_cont {
  position: relative;
  overflow: hidden;
  height: 30vh;
  max-height: 500px;
}

.image_cont img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  bottom: 0;
}

.image_cont:nth-child(1) {
  grid-column: 1 / -1;
  grid-row: 1;
  height: 95vh;
}

.image_cont:nth-child(2) {
  grid-column: 2 / span 8;
  grid-row: 2;
  height: 60vh;
}

.image_cont:nth-child(3) {
  grid-column: 4 / span 8;
  grid-row: 3;
  height: 60vh;
}

.image_cont:nth-child(4) {
  grid-column: 1 / -1;
  grid-row: 4;
  height: 60vh;
}

.image_cont:nth-child(5) {
  grid-column: 4 / span 8;
  grid-row: 5;
  height: 80vh;
}

.image_cont:nth-child(6) {
  grid-column: 2 / span 8;
  grid-row: 6;
  height: 80vh;
}

.content-aria p {
  @apply md:text-xl text-base pb-4 text-neutral-800 font-light;
}

.content-aria p span {
  @apply font-bold;
}

.content-aria p a {
  @apply font-bold text-[#5db947];
}

.content-aria h1 {
  @apply md:text-5xl text-4xl pb-4 pt-4 font-light text-neutral-900;
}

.content-aria h2 {
  @apply text-4xl pb-4 pt-4 font-light text-neutral-900;
}

.content-aria h3 {
  @apply text-3xl pt-4 pb-4 text-neutral-900;
}

.content-aria h4 {
  @apply text-2xl pb-4 font-light text-neutral-900;
}

.content-aria h5 {
  @apply text-xl pt-4 pb-4 text-neutral-900;
}

.content-aria h6 {
  @apply text-lg pt-4 pb-4 text-neutral-900;
}

.vertical-slider-wrapper .slick-current .fadeInUp {
  animation: fadeInUp 1s 3s ease backwards;
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.content-box p {
  opacity: 0;
  transform: translateX(500px);
}

.content-box.xl\:overflow-visible p {
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1199px) {
  .content-box p {
    opacity: 1;
    transform: unset;
  }
}

@media (max-width: 767px) {
  .menu_btn_div button .firsep {
    transform: translateY(6px);
  }

  .menu_btn_div button.active .secp {
    transform: translateY(-6px);
  }
}

/* new landing page start here  */
@font-face {
  font-family: 'thicccboiBold';
  src: url('/fonts/THICCCBOI-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'thicccboiMedium';
  src: url('/fonts/THICCCBOI-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'thicccboiRegular';
  src: url('/fonts/THICCCBOI-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'thicccboiLight';
  src: url('/fonts/THICCCBOI-Light.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sofiaProMedium';
  src: url('/fonts/Sofia-Pro-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sofiaProLight';
  src: url('/fonts/Sofia-Pro-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sofiaProSemiBold';
  src: url('/fonts/Sofia-Pro-Semi-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sofiaProRegular';
  src: url('/fonts/Sofia-Pro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'futuramaxicgBold';
  src: url('/fonts/futuramaxicgboldopentype.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sriracharegulaar';
  src: url('/fonts/Sriracha-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'allura_regular';
  src: url('/fonts/Allura-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.sofiaProSemiBold {
  font-family: 'sofiaProSemiBold', sans-serif;
}

.futuramaxicgBold {
  font-family: 'futuramaxicgBold', sans-serif;
}

.sofiaProMedium {
  font-family: 'sofiaProMedium', sans-serif;
}

.sofiaProLight {
  font-family: 'sofiaProLight', sans-serif;
}

.sofiaProRegular {
  font-family: 'sofiaProRegular', sans-serif;
}

.thicccboiBold {
  font-family: 'thicccboiBold', sans-serif;
}

.thicccboiMedium {
  font-family: 'thicccboiMedium', sans-serif;
}

.thicccboiRegular {
  font-family: 'thicccboiRegular', sans-serif;
}

.thicccboiLight {
  font-family: 'thicccboiLight', sans-serif;
}

.HelveticaNeue {
  font-family: 'HelveticaNeue', sans-serif;
}

.sriracharegulaar {
  font-family: 'sriracharegulaar', sans-serif;
}

.allura_regular {
  font-family: 'allura_regular', sans-serif;
}

.logo_gradient {
  background: #6a2ee7;
  background: linear-gradient(
    180deg,
    rgb(83 0 255) 0%,
    rgb(246 246 246) 51%,
    rgb(83 0 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For better browser support */
  background-clip: text;
  color: transparent;
}

.bannergradient_one {
  background: #1c1c67;
  background: linear-gradient(
    180deg,
    rgba(28, 28, 103, 1) 35%,
    rgba(0, 0, 0, 1) 85%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For better browser support */
  background-clip: text;
  color: transparent;
}

.bannergradient_two {
  background: #1c1c67;
  background: linear-gradient(
    180deg,
    rgba(28, 28, 103, 1) 30%,
    rgba(243, 0, 129, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* For better browser support */
  background-clip: text;
  color: transparent;
}

.bannerleftbefore::before {
  background: url('/images/new-landing-page/bannerleftbg.webp') no-repeat center
    center/contain;
}

/* .bannerbr {
  background: url('/images/new-landing-page/bannerrightbg.webp') no-repeat right bottom;
  background-size: 18%;
} */

.bannerbr::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: url('/images/new-landing-page/bannerbg-new.webp') no-repeat center
    center/cover;
}

/* .bannerbr::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background: url('/images/new-landing-page/lines.webp') no-repeat center center/cover;
} */

.social_media_pages {
  background: #ffffff;
  background: linear-gradient(90deg, rgb(255, 255, 255) 80%);
}

.clippath_custom {
  clip-path: polygon(0 0%, 100% 2%, 97% 82%, 0 94%);
}

.socialMediaMagic .slick-list {
  margin: 0 -10px;
}

.socialMediaMagic .slick-slide > div {
  padding: 8px 10px;
}

/* .vbg {
  background: url('/images/new-landing-page/dotss.webp') no-repeat center center/cover #330B6F;
} */
.subscriptionpagebefore::before {
  background: url('/images/new-landing-page/plansbefore.png') no-repeat center
    center/contain;
  z-index: -1;
}

.subscriptionpagebeforetwo::before {
  background: url('/images/new-landing-page/formbg.png') no-repeat center
    center/contain;
  z-index: -1;
}

.afterthat::after {
  content: '';
  background: url('/images/new-landing-page/bannergirlbganother.webp') no-repeat
    center center/cover;
  z-index: 0;
  position: absolute;
  width: 50%;
  height: 90%;
  top: 55px;
  left: -48px;
}
.tag_icon {
  padding: 5px 10px;
  background-color: #dc0e0e;
  border-radius: 3px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 600;
  position: absolute;
  right: -18px;
  bottom: 100%;
  margin-bottom: 4px;
}
.tag_icon::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 12px;
  border-top: 10px solid #dc0e0e;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 0px solid transparent;
}
.ribonWpr {
  position: absolute;
  right: -8%;
  top: 4%;
  width: 260px;
  height: 44px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 900;
  transform: rotate(30deg);
}
.ribonWpr {
  color: #fff;
  background-color: #fe1739;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ribonWpr::after {
  position: absolute;
  content: '';
  top: 41px;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #880724;
  transform: rotate(-30deg);
  z-index: -1;
}
.ribon::before {
  position: absolute;
  content: '';
  top: 41px;
  right: 3px;
  width: 6px;
  height: 6px;
  background-color: #880724;
  transform: rotate(-30deg);
  z-index: -1;
}
@media (max-width: 1024px) {
  .socialMediaMagic .slick-slide > div {
    padding: 20px 10px 55px;
  }
}

@media (max-width: 768px) {
  .socialMediaMagic .slick-slide > div {
    padding: 20px 10px 4px;
  }

  .bannerbr {
    background-size: 33%;
  }
}

/* new landing page end here  */
